src/main/mule/demo-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="demo-sapi-main">
        <http:listener config-ref="demo-sapi-httpListenerConfig" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="set Metadata" doc:id="cfd14a9f-51e4-46a3-8ea6-586d9f8b7448">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="params"><![CDATA[%dw 2.0
output application/json
---
{
	ID: attributes.queryParams.id as String default ""
}]]></ee:set-variable>
				<ee:set-variable variableName="apiName"><![CDATA[%dw 2.0
output application/json
---
p('api.name')]]></ee:set-variable>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/json
---
attributes.headers.transaction_id]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="demo-sapi-config" />
		<error-handler ref="apikit-error-handler" />
    </flow>
    <flow name="get:\account:demo-sapi-config">
		<flow-ref doc:name="getAccount" doc:id="fd83a32e-392e-45ac-8f83-03076ceded53" name="get-account"/>
		<error-handler ref="global-error-handler" />
    </flow>
</mule>
